input[type=text],
input[type=email] {
    background: transparent;
    border: 1px solid #979797;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 5px;

}
.pure-form {
    input[type=text],
    input[type=email],
    textarea {
        font-weight: 300;
        background-color: #fff;
        .box-shadow(none);
        .border-radius(0px);
        padding: 10px 25px;
        margin-bottom: 10px;
    }
    textarea {
        .placeholder(@clrGrayLight);
    }
}