[class^=icon-sp] {
    display: inline-block;
    background-image: url('@{assetsPath}/images/basic-sprite.png');
}
.icon-sp-facebook,
.icon-sp-twitter,
.icon-sp-google-plus,
.icon-sp-linkedin {
    width: 40px;
    height: 40px;
}
.icon-sp-facebook {
    background-position: 0 -129px;
}
.icon-sp-twitter {
    background-position: 0 0;
}
.icon-sp-google-plus {
    background-position: 0 -86px;
}
.icon-sp-linkedin {
    background-position: 0 -43px;
}