* {
    max-width: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;
}
.noscroll {
    overflow: hidden !important;
}
.cnt-wrap {   
    padding-top: 8px;
    padding-bottom: 8px;
}
.pure-menu-horizontal.pure-menu-scrollable{
    padding: 0px;
}

.hero-banner,
.header,
.footer,
.page-sub-header,
.sec-block,
.sub-header-banner, 
.lucky-draw-banner
.about-container,
.sec-sponsors {
    padding: 0px;
    > .cnt-wrap {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    &.nopad {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.hero-banner .cnt-wrap {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 400px;
}
.sub-header-banner {
    font-family: Lato;
    .cnt-wrap {
        min-height: 216px;
        background-color: @clrGrayLight;
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
    }
    .sub-title {
        margin-top: 105px;
        margin-left: 66px;
    }
    .t-title {
        color: #FFFFFF; 
        font-family: Lato;  
        font-size: 40px;    
        font-weight: 900;   
        line-height: 48px;  
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .t-subtitle {
        color: #FFFFFF; 
        font-family: Lato;  
        font-size: 24px;    
        font-weight: 900;   
        line-height: 29px;  
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
}

.lucky-draw-banner {
    background-color: #fff;
    background-size: cover;
    font-family: Lato;
    margin-top: 20px;
    .cnt-wrap {
        min-height: 180px;
        background-color: @clrGrayLight;
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
    }
    .sub-title {
        position: relative;
        margin-top: 65px;
        margin-left: 66px;
    }
    .t-title {
        color: #FFF; 
        font-family: 'Lato';  
        font-size: 40px;    
        font-weight: 900;   
        line-height: 48px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .t-subtitle {
        color: #FFF; 
        font-family: 'Lato';  
        font-size: 24px;    
        font-weight: 900;   
        line-height: 29px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);  
    }
}

.amazing-prize {
    .sec-heading {
        text-align: center;
        color: @clrRed;
        font-family: 'Amatic SC';
        font-size: 40px;    
        line-height: 39px;
        margin: 50px auto 30px auto;
    }
}

.brand {
    .t-title {
        color: #57CAEB; 
        font-family: 'Lato';  
        font-size: 21px;    
        line-height: 25px;  
        text-align: center;
        margin-top: 10px;

    }
    .t-subtitle {
        font-family: 'Lato';  
        font-size: 17px;    
        line-height: 19px; 
        text-align: center;
        padding: 10px 18px 20px 18px; 
    }
}

.lucky-draw {
    margin: 0px auto;
}

.sec-block-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-pink {
    background-color: @clrPink;
    color: #fff;
    a {
        color: inherit;
    }
}

.bg-pink-dark {
    background-color: @clrRed;
    color: #fff;
    a {
        color: inherit;
    }
}
.bg-pink-mid {
    background-color: @clrPinkMid;
    color: #fff;
    a {
        color: inherit;
    }
}
.bg-yellow {
    background-color: @clrRed;
    color: @clrRed;
}
.bg-gray-light {
    background-color: @clrGrayLighter;
    color: #000;
}
.banner-ticket {
    color: #fff;
    a {
        color: inherit;
            text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
}


.header {
    height: 70px;
    background-color: #FFFFFF;  
    box-shadow: 0 2px 8px 1px rgba(0,0,0,0.05);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.header-placeholder {
    height: 70px;
}

.logo {
    margin: 0;
    img {
        display: block;
        margin-left: 20px;
    }
}
.header-nav {
    font-size: 26px;    
    font-weight: bold;
    text-align: right;
}
.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 45px;
    height: 100%;
    background: none;
    border: 0;
    outline: none;
    line-height: 35px;
    display: none;
    .menu-inner {
        background: @clrRed;
        height: 3px;
        width: 25px;
        border: 0;
        display: block;
        position: relative;
        .border-radius(4px);
        margin: 0 auto;

        &:before, &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background: @clrRed;
            position: absolute;
            left: 0;
            .border-radius(4px);
            .transition(all 0.3s);
        }
        &:before {
            top: -8px;
        }
        &:after {
            top: 8px;
        }
    }
    &.active {
        .menu-inner {
            background: transparent;
            &:before, &:after {
                top: 0;
            }
            &:before {
                .transform(rotate(45deg));
            }
            &:after {
                .transform(rotate(-45deg));
            }
        }
    }
}
.decoration {
    display: none;
}
.page-sub-header {
    background-color: @clrRed;
    color: @clrRed;
    padding-top: 14px;
    padding-bottom: 18px;

    .page-heading {
        margin: 0;
        font-size: 36px;
        font-weight: 900;
    }
}
.home, .page-template {
    background-color: #fff;
    background-image: url("@{assetsPath}images/bg-stars.png");
    background-size: cover;
    background-repeat:  repeat-x, no-repeat;
    background-position: 0px 75px,center center;
}
.hero-banner {
    font-family: Lato;
    margin: 0;
    word-wrap: break-word;
    .cnt-wrap {
        background-color: @clrGrayLight;
        background-image: url("@{assetsPath}images/hero-image.png");
        background-size: cover;
        background-position: center;
    }
    .t-venue {
        height: 58px;   
        color: #FFFFFF; 
        font-family: Lato;  
        font-size: 24px;    
        font-weight: 900;   
        line-height: 29px;  
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .t-lead {
        height: 48px;   
        color: #FFFFFF; 
        font-family: Lato;  
        font-size: 40px;    
        font-weight: 900;   
        line-height: 48px;  
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .hero-title {
        padding-left: 80px;
        padding-top: 200px;
        position: relative;
        z-index: 2;
    }
}
.footer {
    background-color: #F44243;
    font-weight: 300;
    font-size: 16px;
    .cnt-wrap {
        padding-top: 24px;
        padding-bottom: 24px;
        max-width: 342px;
        display: inline-block;
        margin: 0 auto;
        ul {
            padding: 0; 
            margin: 0;
            list-style-type: none;
            li {
                width: 115px;
                height: 35px;
                text-align: left;
                margin: 0 7px;
                display: inline-block;
            }
        }
    }
    .footer-nav {
        list-style: none;
        margin: 0;
        font-size: 18px;
        a, a:link, a:visited {
            color:#fff;
            font-size: 14px;    
            line-height: 32px;
        }
        .ticket-highligted {
            a, a:link, a:visited {
                font-weight: 900;
                font-size: 18px;
            }
        }
    }
}

.programme-time {
    color: @clrRed;
    font-family: 'Lato';
    font-weight: normal;
    margin-top: 20px;
    margin: 20px auto;
    dl {
        margin: 0px;
    }
    dt {
        // Time
        display: inline-block;
        float: left;
        font-size: 20px;
        line-height: 36px;
        text-align: right;
        margin-right: 20px;
    }
    dd {
        font-size: 20px;
        line-height: 36px;
        color: @clrGrayDark;
        margin-left: 145px;
    }
    
}

.programme-highlight {
    padding-left: 30px;
    .sec-heading {
        color: @clrRed;
        font-family: 'Amatic SC';
        font-size: 40px;    
        line-height: 39px;
        margin-top: 25px;
        margin-bottom: 16px;
    }
    ul {
        padding-left: 20px;
        font-family: 'Lato';
        color: @clrGrayDark;
        font-size: 18px;
        line-height:30px;
    }
}

.goodies {
    ul {
        margin-left: 20px;
        font-family: 'Lato';
        color: @clrGrayDark;
        font-size: 18px;
        line-height:20px;
        li {
            padding: 5px;
        }
    }
}

.sec-venue {
    padding-top:50px;
    .cnt-wrap {
        p {
            color:#686868;
        }
        strong {
            color:#000;
        }
    }
    .l-box {
        padding-top:80px;
    }
}

.list-what-conf, .sec-what-to-expect, .highlights-featuring, 
.sec-contactus, .sec-sponsors {
    font-size: 18px;    
    line-height: 28px; 
    text-align: center;
    .the-heading {
        font-family: 'Amatic SC';    
        font-size: 40px;    
        font-weight: bold;  
        letter-spacing: 0px;    
        line-height: 43px;
        display: block;
        color: @clrRed;
    }
    p {
        color: #3A3A3A;
    }
    ul.the-links {
        list-style:none;
        margin: 40px 30px;
        li {
            box-sizing: border-box;
            border-bottom: 1px solid #DADADA;
            padding: 10px;
        }
        li:last-child {
            border: none !important;
        }
        .the-link {
            color: #57CAEB;
            font-size: 20px;    
            font-weight: 900;   
            line-height: 24px;
            &:after {
                position: absolute; 
                content: "";
                background-image: url("@{assetsPath}/images/blue-arrow.png");
                height: 19px;
                width: 10px;
                margin: 5px;
            }
        }
    }
}

.highlights-featuring {
    padding-top: 40px;
    ul {
        padding-left: 45px;
    }
    li {
        text-align: left;
    }
}
.sub-footer {
    .an-event-by {  
        height: 15px;   
        color: #3A3A3A; 
        font-family: Lato;  
        font-size: 12px;    
        font-weight: 300;   
        line-height: 15px;  
        text-align: center;
    }
    .tap-logo {
        margin: 0 auto;
    }   
}

.list-companytype {
    justify-content: center;
    text-align: left;
    list-style: none;
    li {
        margin-bottom: 10px;
    }
    .name {
        color: @clrRed;
        margin: 0 0 5px;
        font-size: 24px;
        font-weight: 900;
    }
}
.list-speakers {
    text-align: center;
    justify-content: center;
    li {
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.list-sponsors {
    text-align: center;
    justify-content: center;
    li {
        margin-bottom: 25px;
    }
    img {
        max-height: 100px;
        max-width: 200px;
    }
}
.speaker-info {
    cursor: pointer;
    .pic { // Pic
        display: inline-block;
        width: 200px;
        background-size: cover;
        background-position: center;
        .border-radius(50%);
        margin-bottom: 5px;
    }
    .name {
        color: @clrRed;
        margin: 0 0 5px;
        font-size: 24px;
        font-weight: 900;
    }
    .designation, .company, .tagline {
        color: @clrPink;
        margin: 0;
        line-height: 24px;
    }
    .company, .tagline {
        font-weight: bold;
    }
}
.popup .speaker-info {
    cursor: default;
}

.box-report-download {
    background-color: @clrRed;
    color: @clrRed;
    .border-radius(25px);
    padding: 40px;
    max-width: 465px;
    margin-bottom: 20px;
}

.list-article {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        border-top: 1px solid #fff;
        padding-top: 20px;
        &:first-child {
            border-top: none;
            padding-top: 0;
        }
    }
    .title {
        font-size: 32px;
        margin: 0;
        font-weight: normal;
        a {
            color: inherit;
        }
    }
    p {
        a {
            color: inherit;
        }
    }
}

// Header nav
.header-nav {
    .pure-menu-item {
        font-family: 'Amatic SC';
        font-weight: bold;
        color: @clrRed;
        .border-radius(50px);
    }
    .pure-menu-link {
        color: inherit;
        .border-radius(inherit);
        .transition(all 0.3s ease);
    }
    .pure-menu-selected {
        font-family: Lato;
        font-weight: 500;
        font-size: 20px;
        background-color: #57caeb;
        color: #FFFFFF;
        .pure-menu-link {
            padding: 5px 15px;
        }
        a:visited {
            color: #fff;
        }
    }
    .pure-menu-active > .pure-menu-link,
    .pure-menu-link:hover,
    .pure-menu-link:focus {
        background: none;
    }
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    overflow: auto;
    z-index: 20;

    > .cnt-wrap {
        margin: 20px auto;
        background-color: #fff;
        padding: 30px;
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
        max-width: 600px;
        .transition(all 0.3s ease);
        position: relative;
        .border-radius(20px);
    }
    .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.btn-close {
    border: 0;
    font-size: 42px;
    font-weight: bold;
    background: transparent;
    line-height: 32px;
    color: @clrRed;
}

.post-article, .page-article {
    .post-header {
        border-bottom: 2px solid @clrRed;
        margin: 20px auto 20px;
        max-width: 900px;
        padding-top: 40px;
        .link-read-next {
            margin-top: -30px;
            padding-right: 10px;
        }
    }
    .post-title {
        font-size: 34px;
        line-height: 44px;
        color: @clrRed;
        margin-top: 0;
        margin-bottom: 0;
    }
    .post-title,
    .post-header-meta,
    .post-footer
    {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .post-header-meta {
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 300;
        color: @clrRed;
    }
    .post-body {
        margin-bottom: 40px;
        > * {
            max-width: 740px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
        h1, h2 {
            font-weight: bold;
            font-size: 36px;
        }
        .full-image { // parent of Image
            max-width: 100%;
            text-align: center;
            padding: 0;
            img {
                width: 100%;
            }
        }
        img {
            height: auto;
        }
        ul, ol {
            padding-left: 50px;
            > li {
                padding-left: 15px;
                margin-bottom: 10px;
            }
        }
    }
    .post-footer {
        margin-top: 30px;
        margin-bottom: 40px;
        h2 {
            margin: 15px 0;
            font-size: 24px;
        }
        .item-article {
            display: block;
            margin-bottom: 20px;
            font-size: 26px;
            font-style: italic;
        }
    }
}
.highlight-featuring {
    padding-top:40px;
}

.post-article {
    .post-body {
        h1, h2 {
            color: @clrRed;
        }
    }
}
.page-article {
    h1 {
        font-size: 36px;
        font-weight: 900;
        margin: 0 0 30px;
        word-wrap: break-word;
    }
    h2 {
        font-weight: bold;
        margin: 15px 0;
        font-size: 24px;
    }
    p {
        margin: 15px 0;
    }
}

.sec-organizers {
    .cnt-wrap {
        max-width: 789px;
    }
}
.sec-contactus {
    .cnt-wrap {
        max-width: 536px;
    }
    .button-send {
        width: 188px;
        font-family: Lato;
        font-size: 24px;
        padding: 10px 20px;
        border-radius: 12px;
        font-weight: 900;   
        line-height: 29px;
    }
    .field {
        margin-bottom: 20px;
        color: #252525;
    }
}

.sec-sponsors-form {
    .cnt-wrap {
        max-width: 536px;
    }
    .button-send {
        width: 188px;
        font-family: Lato;
        font-size: 24px;
        padding: 10px 20px;
        border-radius: 12px;
        font-weight: 900;   
        line-height: 29px;
    }
    .field {
        margin-bottom: 20px;
        color: #252525;
    }
}

.form-full-width {
    input, textarea {
        width: 100%;
    }
}

.alert {
    display: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    .cnt-wrap {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    &.alert-error {
        background-color: @clrRed;
    }
    &.alert-success {
        background-color: @clrRed;
    }
}
.ticket-frame {
    position: relative;
    background: url("@{assetsPath}/images/loader.gif") no-repeat;
    background-position: 30px 60px;
    padding-top: 15px;
    iframe {
        background: transparent;
        height: 2200px;
    }
}
.tickets-header {
    border-bottom: 2px solid @clrRed;
    margin-bottom: 20px;
    font-size: 16px;
    padding-bottom: 20px;
    > * {
        vertical-align: top;
    }
    .prices {
        > * {
            padding-left: 40px;
            margin-bottom: 20px;
        }
        h4, h2 {
            margin: 0;
        }
        h4 {
            font-size: 20px;
        }
        h2 {
            font-size: 36px;
            small {
                font-weight: 300;
                font-size: 18px;
                vertical-align: bottom;
                display: inline-block;
                margin-bottom: 3px;
            }
        }
        .blabla {
            display: inline-block;
            padding-left: 26px;
            font-size: 15px;
        }
    }
    .what-you-get {
        .border-radius(20px);
        padding: 14px 22px;
        font-size: 15px;
        h2 {
            margin-top: 0;
        }
        ul {
            margin: 0;
            list-style: none;
        }
        li {
            position: relative;
            padding-left: 6px;
            margin-bottom: 10px;
            &:before {
                content: '•';
                display: inline-block;
                vertical-align: top;
                position: absolute;
                left: -7px;
                top: 0;
                font-size: 12px;

            }
        }
    }
    .ticket-txt {
        text-decoration: underline;
        font-size: 20px;
        color: #333;
    }
}

.form-embedded-link {
    h4 {
        text-decoration: underline;
    }
}

.wgt-page-share {
    > h3 {
        margin-bottom: 10px;
        font-weight: 400;
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-weight: normal;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -62px;
    opacity: 0;
    transition: opacity 1s;
    width: 150px;
    height: auto;
}

.event-info {
    ul {
        margin: 10px;
        text-align: left;
    }
    p {
        margin: 2px 0;
        text-align: left;
    }
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* About Us Page */
.about-container {
    font-family: Lato;
    color: #3A3A3A;
    font-size: 18px;
    .about-text {
        margin: auto;
        padding: 15px;
        display:block;
    }
    .about-header-center {
        font-family: Amatic SC;
        color: #F44243;
        font-size: 40px;
        font-weight: bold;
        padding-top: 25px;
    }

}

.sec-home-headline, .sec-contactus, .highlights-featuring, 
.sec-itinerary, .sec-organizers, .sec-what-to-expect, .sec-sponsors {
    .sec-heading {
        color: #F44243;
        font-size: 32px;    
        font-weight: 900;   
        line-height: 39px;  
        text-align: center;
        margin: 0;
        margin-bottom: 16px;
        word-wrap: break-word;
    }
    .txt-home-headline {
        /*margin: 0 130px;*/
        font-size: 18px;    
        line-height: 22px;  
        text-align: center;
    }
    .feature-img {
        height: 192px;  
        max-width: 100%;
        padding: 10px;
        overflow: hidden;
    }
}

.video-block {
        box-sizing: border-box;
        max-width: 100%;
        margin-bottom: 20px;
        .img {
            width: 100%;
            background-size: cover;
            background-position: center;
            position: relative;
            &.is-video {
                cursor: pointer;
                &:after {
                    content: '►';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    margin-top: -50px;
                    font-size: 60px;
                    background: #000;
                    color: #fff;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    padding-left: 5px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    opacity: 0.9;
                    .box-shadow(0 0 10px rgba(0,0,0,0.8));
                    .transition(all 0.3s ease-out);
                }
                &:hover {
                    &:after {
                        .transform(scale(1.1));
                    }
                }
            }
            &.play {
                &:after {
                    display: none;
                }
                .videoplayer {
                    display: block;
                }
            }
        }
        .videoplayer {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: none;
        }
        &.wide {
            width: 100%;
        }
        &.article-video {

        }
        .article-title {
            font-size: 18px;
        }
}



.side-gutter {
    padding-left: 20px;
    padding-right: 20px;
}