/*Only for handling the nav size*/
@media only screen and (min-device-width: 640px) {
    .decoration {
        display: none;
    }
    // Venue map for desktop mode
    .venue-map {
        iframe {pointer-events: none;}
        .user-select(none);
        &:focus {
            iframe {pointer-events: auto;}
        }
    }
}
@media only screen and (min-width: 800px) and (max-width: 1034px) {
    .header-nav {
        font-size: 25px;
        .pure-menu-link {
            padding-left: 8px;
            padding-right: 8px;
        }

    }
    .header {
        .cnt-wrap {
            padding-right: 5px;
        }
        .logo {
            width: 20%;
        }
        .right {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;

    }
    .hamburger {
        display: inline-block;
    }
    .decoration {
        display: block;
        img {
            width: 100%;
        }
    }
    .sec-block-padding {
        margin-top: -50px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .video-block {
        .img {
            &.is-video {
                &:after {
                    font-size: 30px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                }
            }
        }
    }
    .header-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: @clrRed;
        z-index: 1;
        .opacity(0);
        visibility: visible;
        pointer-events: none;
        .transition(all 0.3s ease);

        .pure-menu-list {
            // Becomes the drawer panel
            padding: 20px 10px;
            width: 80%;
            min-width: 200px;
            max-width: 300px;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: @clrRed;
            .transform(translateX(-100%));
            .transition(all 0.3s ease);
            overflow: auto;
        }

        &.active {
            .opacity(100);
            visibility: visible;
            pointer-events: all;
            background: rgba(0,0,0,0.6);
            .pure-menu-list {
                .transform(translateX(0));
            }
        }
        .pure-menu-item {
            display: block;
            color: #fff;
            height: auto;
            margin-bottom: 3px;
            font-family: Lato;
            font-size: 24px;
            font-weight: 900;   
            line-height: 29px;  
            text-align: center;
        }
        .pure-menu-link {
            padding: 10px 20px;
        }
        .pure-menu-selected {
            .pure-menu-link {
                background-color: #fff;
                color: @clrPinkDark;
            }
            a:visited {
                color: @clrPinkDark;
            }
        }
    }

    .logo {
        width: 100%;
        img {
            margin: 0 auto;
            max-width: 129px;
        }
    }
    .hero-banner {
        text-align: center;
        .hero-title {
            padding-left: 0;
            position: relative;
            padding-bottom: 35px;
        }
        .t-lead {
            text-align: left;
            font-size: 40px;
            font-weight: 900;
            line-height: 48px;
            margin-left: 16px;
        }
        .t-venue {
            text-align: left;
            font-size: 24px;
            margin-left: 16px;
        }
        .banner-ticket {
            position: absolute;
            top: 90%;
            width: 100%;
        }
        .header-gradiant {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            background-image: linear-gradient(to top,rgb(121,230,253) 0%,rgba(0,0,0,0) 50%);
        }
        .cnt-wrap {
            height: 300px;
        }
    }

    .highlights-featuring {
        padding-top: 20px;
    }

    .video-block {
        .img {
            &.is-video {
                &:after {
                    margin-top: -25px;
                }
            }
        }
    }

    .post-article, .page-article {
        .post-header {
            padding-top: 20px;
        }
        .post-title {
            font-size: 34px;
            line-height:44px;
            word-wrap: break-word;
        }
        .post-header-meta {
            font-size: 16px;
        }
        .post-body {
            h1, h2 {
                font-size: 24px;
            }
        }
    }

    .l-box {padding-left: 0 !important;}

    .sec-contactus {
        .field {
            margin-bottom: 10px;
        }
        .button-send {
            display: block;
            margin: 0 auto;
        }
    }

    .sec-sponsor {
        .field {
            margin-bottom: 10px;
        }
        .button-send {
            display: block;
            margin: 0 auto;
        }    
    }

    .tickets-header {
        .prices {
            > * {
                padding-left: 5px;
            }
            h4 {
                font-size: 16px;
            }
            h2 {
                font-size: 28px;
            }
            .blabla {
                padding-left: 0;
                font-size: 13px;
            }
        }
    }

    .ticket-frame {
        iframe {
            height: 2400px;
        }
    }
}
@media only screen and (max-width: 640px) {
    .header, .header-placeholder {
        height: auto;
    }
    .header-nav .pure-menu-item {
        font-family: Lato;
        font-size: 24px;
        font-weight: 900;   
        line-height: 29px;  
        text-align: center;
    }
    .hero-banner {
        text-align: center;
        .t-lead {
            text-align: left;
            font-size: 35px;
            font-weight: 900;
            line-height: 48px;
            margin-left: 16px;
        }
        .t-venue {
            text-align: left;
            font-size: 20px;
            margin-left: 16px;
        }
        .cnt-wrap {
            height: auto;
        }
    }
    .sec-home-headline .sec-heading,
    .sec-heading {
        font-size: 26px; 
        small {
            font-size: 20px;
        }
    }
    .box-report-download {
        padding: 20px;
        margin-bottom: 40px;
    }
    .sec-who-chomum {
        padding: 0;
        .left {
            padding-left: 20px;
            padding-right: 20px !important;
        }
        .right {
            height: 300px;
        }
    }
    .list-what-conf {
        // text-align: center;
        .the-number {
            font-size: 70px;
        }
        .the-what {
            font-size: 32px;
        }
        p {
            padding-right: 0;
        }
    }
    .programme-time {
        margin-top: 0px;
         dl {
            margin-top: 12px;
            margin-left: 25px;
        }
        dt {
            font-size: 16px;
            line-height: 26px;
        }
        dd {
            margin-left: 120px;
            font-size: 16px;
            line-height: 26px;
        }
    }

    .programme-highlight {
        margin: 0px 25px 0px 25px;
        ul {
            font-size: 15px;
            line-height: 26px;
        }
        .sec-heading {
            margin-top: 23px;
            font-size: 36px;
        }
    }

    .sub-header-banner {
        .sub-title {
            margin-top: 110px;
            margin-left: 20px;
        }
    }

    .lucky-draw-banner {
        .sub-title {
            margin-top: 35px;
            margin-left: 20px;
        }
        .t-title {
            color: #fff;
        }
        .t-subtitle {
            color: #fff;
        }
    }

    .amazing-prize {
        .sec-heading {
            font-size: 35px;
            line-height: 30px;
        }
    }

    .brand {
        img {
            width: 70%;
            height: 35%;
        }
        .t-title {
            font-size: 16px;    
            line-height: 15px;  
            text-align: center;
            margin-top: 10px;

        }
        .t-subtitle {
            font-size: 13px;    
            line-height: 16px; 
            text-align: center;
            padding: 10px 28px 62px 28px; 
        }
    }

    .goodies {
        ul {
            font-size: 15px;
        }
    }
    
}