p {
    line-height: 28px;
}
ul {
    padding: 0; 
}
a, a:link, a:visited {
    color: @clrRed;
    text-decoration: none;
    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.rfloat {
    float: right;
}

.txt-normal {
    font-weight: 300;
}

.r-box {
    padding-right: 20px;
}
.l-box {
    padding-left: 20px;
}

.display-inline-block {
    display: inline-block;
}
.hidden {
    display: none;
}

._u {
    text-decoration: underline;
}