@assetsPath: '/wp-content/themes/babybash-v1/assets/';

@clrRed: #F44243;
@clrBlue: #57CAEB;
@clrGrayLight: #D8D8D8;

@clrPinkDark: #FF497D;
@clrPinkMid: #F8669A;
@clrPink: #F047CB;
@clrGrayLight: #D8D8D8;
@clrGrayLighter: #ECECEC;
@clrGrayDark: #3A3A3A;